{
  "client": {
    "name: "leaf1",
    "address": "192.168.0.100",
    "subscriptions": [
        "switches",
        "leaf"
    ],
    "keepalive": {
      "handlers: ["debug"],
      "thresholds: {
        "warning": 120
        "critical": 180
      }
    }
  }
}


