{
  "basicAuth": false,
  "isDefault": true,
  "access": "proxy",
  "database": "network",
  "user": "admin",
  "type": "influxdb",
  "url": "http://localhost:8086",
  "name": "influx",
  "password": "admin"
}